@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@100&display=swap');

:root{
    --font-blanc: #fafafa;
    --font-green: #00614E;
    --font-blue: #09599A;
    --font-red: #d63031;
    --header-color: black;
}

main p{
    text-align: center;
    color: var(--font-red);
}

body header{
    background-color: var(--header-color);
}
body header h1{
    text-align: center;
    color: var(--font-blanc);
    font-family: 'Open Sans', sans-serif;
    padding: 1.5rem 0 1rem 0;
}

body header h1::before{
    content: url(../asset/logo.svg) ;
    filter: invert(100%);
    margin-right: 1rem;
    vertical-align: middle;
}

main table{
    border-collapse: collapse;
    margin: 5rem auto 2rem auto;
}

main table thead tr th{
    background-color: var(--font-green);
    color: var(--font-blanc);
}

main table tbody tr td{
    line-height: 4vh;
}

main table tbody tr td:nth-child(1){
    min-width: 40rem;
    text-align: center;
}

main table tbody tr td:nth-child(2), main table tbody tr td:nth-child(3){
    min-width: 15rem;
}

main table tbody tr td:nth-child(4){
    min-width: 7rem;
    text-align: center;
}

main table tbody tr td:nth-child(5){
    min-width: 25rem;
}

main table tbody tr td, main table thead tr th{
    border: solid 0.1rem var(--font-blanc);
    line-height: 4vh;
    margin: 5rem;
}

main table tbody tr:nth-child(2n+1){
    background-color: rgba(0, 0, 0, .1);
}

main .addclient{
    background-color: var(--font-blue);
    color: var(--font-blanc);
    padding: 1rem 3rem;
    margin: 0 auto;
    display: block;
    max-width: 13rem;
}

main .edit img{
    vertical-align: middle;
}

/* add user */


main section{
    width: 50rem;
    margin: 5rem auto;
    border:solid 0.15rem transparent;
}

main section h1{
    color: var(--font-green);
    margin: 2rem 0;
}

.form input, .form label{
    display:block;
    width: 100%;
    resize: none;
    line-height: 4vh;
}


.form input[type=text], .form input[type=email]{
    border:solid 0.15rem transparent;
    border-bottom-color: #ccc;
    max-width: 50%;
}

.form input[type=text]:focus, .form input[type=email]:focus{
    border-color: black;
    transition-duration: 1s;
    max-width: 100%;
}

.form button{
    background-color: var(--font-green);
    color: var(--font-blanc);
    width: 15rem;
    height: 3.5rem;
    display: block;
    margin-top: 1rem;
    cursor: pointer;
}

.form button img{
    max-width: 2rem;
    filter: invert(100%);
    vertical-align: -.5rem;
    margin-left: .5rem;
}



/*
.form input[type=submit]{
    background-color: var(--font-green);
    color: var(--font-blanc);
    max-width: 15rem;
    margin: 2rem 0;
  }
*/

